#des1{
    visibility: hidden;
    height: 0px;
}

#des2{
    visibility: hidden;
    height: 0px;
}

#des3{
    visibility: hidden;
    height: 0px;
}

#des4{
    visibility: hidden;
    height: 0px;
}

#des5{
    visibility: hidden;
    height: 0px;
}